// Background Colors
$red_background_error_color: #ff7777;
$white_background_color: #fff;

// Text Colors
$white_text_color: #fff;
$black_text_color: #000;
$grey_text_color: #757575;

// colors
$primary_light_color: #5bc8af;
$secondary_little_dark_color: #297c6b;
$secondary_more_dark_color: #194d44;
$main_light_grey_color: #eaeaea;
$main_dark_grey_color: #333;
